:root {--branding-color: #2C38AA;
    --basic-color: #DAE0EE;
--heading-font-family: "Jomhuria", serif; font-weight: 400;
font-style: normal;
--basic-font-family: "Poltawski Nowy", serif;}

body {font-family: var(--basic-font-family);}

.jomhuria-regular {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poltawski-nowy-ridny {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  h1, h2, h3, h4, h5 {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
  }

  p {font-family: "Poltawski Nowy"; font-size: 16px;
line-height: 1.8;}

  h1 {font-family: "Jomhuria"; font-size: 120px;}
  h2 {font-size: 64px;}

  
    .hero {background-color: var(--basic-color); 
    text-align: center;
padding: 140px 0;}

  .hero p {font-family: "Jomhuria";
font-size: 34px;
font-weight: bold;
margin: 0;}

.my-picture {height: 50px; width: 50px; 
}

.important {text-align: center;}


.hero h2 {font-family: "Poltawski Nowy"; font-weight: bold; 
    font-size: 26px; line-height: 1;} 

    .btn-branding {font-family: "Poltawski Nowy"; 
        font-size: 22; 
        background-color: var(--branding-color); 
        border-radius: 5px;
    color: #E9E4EE; 
    font-size: 16px;
     line-height: 18px; 
    padding: 10px 15px;}

    .btn-branding-outline {font-family: "Poltawski Nowy"; 
        font-size: 22; 
        background-color: var(--branding-color); 
        border: 1px solid var(--branding-color);
        border-radius: 5px;
    color:  var(--basic-color); 
    font-size: 16px;
     line-height: 18px; 
    padding: 10px 15px;}

    .project-description {padding: 160px 60px;}

    .project-text {font-size: 22px;}
    .hi-words {font-size: 60px;}

    @media (max-width: 960px) {
        .project-description {
            padding: 0;
            text-align: center;
                    }
        h1 {font-size: 60px; line-height: 2;}
        h2 {font-size: 40px;}
        .hi-words {font-size: 35px;}
        .hero {padding: 80px 10;}
        .project-text {font-size: 16px;}
            }

    .project-picture {height: 600px; width: 500px;
        background-color: var(--basic-color); 
        padding: 15px 15px 15px 15px;
        border-radius: 5px;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);}
