:root {--branding-color: #2c38aa;
    --basic-color: #DAE0EE;
--heading-font-family: "Jomhuria", serif; font-weight: 400;
font-style: normal;
--basic-font-family: "Poltawski Nowy", serif;}

body {font-family: var(--basic-font-family);}

.jomhuria-regular {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poltawski-nowy-ridny {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  h1, h2, h3, h4, h5 {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
  }

  p {font-family: "Poltawski Nowy"; font-size: 16px;
line-height: 1.8;}

  h1 {font-family: "Jomhuria"; font-size: 120px;}
  h2 {font-size: 64px;}

  footer .socials a {margin: 0 30px; color: var(--branding-color); 
    background-color: var(--basic-color); padding: 10px 18px; font-size: 28px; 
    border-radius: 70%;}

    footer .socials a:hover {color: #5860a8; 
      background-color: var(--branding-color);
    transition: all 120ms ease-in-out;}

    .pername {display: inline;}

  footer {margin: 40px 0;}

  footer .maillink {text-decoration: none; color: black; 
    font-size: 30px; text-align: center;}

    footer .maillink:hover {color:#5860a8}

  
    .hero {background-color: var(--basic-color); 
    text-align: center;
padding: 80px 0;}

  .hero p {font-family: "Jomhuria";
font-size: 34px;
font-weight: bold;
margin: 0;}

.p-address {background-color: var(--basic-color); 
    padding: 15px 10px; border-radius: 4px;
color: black; font-size: 18px; box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25)}


.email-link {color: black; font-size: 18px;}


.my-picture {height: 50px; width: 50px;
}

nav {padding: 20px;}

.important {text-align: center;}


.hero h2 {font-family: "Poltawski Nowy"; font-weight: bold; 
    font-size: 26px; line-height: 1;} 

    .btn-branding {font-family: "Poltawski Nowy"; 
        font-size: 22; 
        background-color: var(--branding-color); 
        border-radius: 5px;
        text-decoration: none;
    color: #E9E4EE; 
    font-size: 20px;
     line-height: 18px; 
    padding: 10px 15px;}

    .btn-branding-outline {font-family: "Poltawski Nowy"; 
        font-size: 22; 
        background-color: var(--branding-color); 
        border: 1px solid var(--branding-color);
        border-radius: 5px;
    color:  var(--basic-color); 
    font-size: 16px;
     line-height: 18px; 
    padding: 10px 15px;}

    .btn-branding-soon {font-family: "Poltawski Nowy"; 
      font-size: 22; 
      background-color: var(--basic-color); 
      border: 1px solid var(--branding-color);
      border-radius: 5px;
  color:  var(--branding-color); 
  font-size: 16px;
   line-height: 18px; 
  padding: 10px 15px;}

  nav li {display: inline;
  list-style: none;
line-height: 57px;
font-size: 1.25rem;
margin-left: 10px;}

  nav ul {padding: 0;
  margin: 0; }

nav a {text-decoration: none;
color: black;
transition: all 120ms ease-out}

nav a:hover, nav li.active a {color: #5860a8;}

 

  .navbar-brand {text-decoration: none; color: black;}

    .project-description {padding: 160px 60px;}

    .project-text {font-size: 22px;}
    .hi-words {font-size: 60px;}

    .project-picture {height: 600px; width: 500px;
        background-color: var(--basic-color); 
        padding: 15px 15px 15px 15px;
        border-radius: 5px;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);}

        .portrait {max-height: 100%;
                        width: auto; 
                        
                        border-radius: 5px; background: 50px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);}

        .about-me {padding: 20px; background-color: var(--basic-color); 
            border-radius: 5px; box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
        }

        .projects-button {margin-top: 50px; position:sticky;}

        .content {text-align: center;}
.about-section {text-align: center;}

@media (max-width: 960px) {
  .project-description {
      padding: 0;
      text-align: center;
              }
  h1 {font-size: 60px; line-height: 2;}
  h2 {font-size: 40px;}
  .hi-words {font-size: 35px;}
  .hero {padding: 80px 10;}
  .project-text {font-size: 16px;}
  .navbar-brand {font-size: 12px;}
  .about-me {text-align: center; padding: 0; background: none;}
  nav li {font-size: 12px;}
  .pername {
    display: none;
  }
      }