.jomhuria-regular {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poltawski-nowy-ridny {
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  h1, h2, h3, h4, h5 {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
  }

  p {font-family: "Poltawski Nowy";}

  h1 {font-family: "Jomhuria";}

  .hero {background-color: #DAE0EE; text-align: center;}

  .hero p {font-family: "Jomhuria";
font-size: 36px;}
